{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col col-md-8 col-lg-6 mt-4 offset-md-2">
      <h2>{% trans "Sign In" %}</h2>
      <p class="lead">{% blocktrans %}Welcome back to the Book Lover's Market!</p>
      <p>If you don't have an account yet, please <a class="link" href="{{ signup_url }}">sign up</a> first.
        {% endblocktrans %}</p>

      <form class="login col-sm-9 col-md-10 col-xl-8 col-xxl-7" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a href="{% url 'account_reset_password' %}">
          Forgot password?
        </a>
        <button class="btn btn-confirm col-12 mt-3" type="submit">{% trans "Sign In" %}</button>
      </form>

    </div>
  </div>
</div>
{% endblock %}