/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Roboto", sans-serif;
    --heading-font: "Lora", serif;
    --primary-color: #05668D;
    --secondary-color: #A5BE00;
    --alt-color: #EBF2FA;
}

/* General Styles */

body {
    font-family: var(--primary-font);
}


h1,
h2,
h3 {
    font-family: var(--heading-font);
}

/* prevent navbar overlap due to fixed position */
.section {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.hide {
    visibility: hidden;
}

/* Nav and Footer */

nav,
footer {
    background-color: var(--primary-color);
}

nav {
    box-shadow: 0 3px 4px rgb(24, 24, 24);
}

footer {
    box-shadow: 0 -3px 3px rgb(24, 24, 24);
}

.nav-item .nav-link,
footer {
    color: var(--alt-color);
}

.logo {
    height: 2rem;
}

footer i {
    color: var(--alt-color);
    font-size: 1.3rem;
}

/* Alert messages */

.alert-success {
    background-color: rgba(14, 211, 14, 0.9);
}

.alert-danger {
    background-color: rgba(204, 11, 11, 0.9);
}

.alert-warning {
    background-color: rgba(207, 120, 6, 0.9);
}

#messages {
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 50vw;
    text-align: center;
}

/* Buttons */

.btn-confirm {
    background-color: var(--secondary-color);
    border-radius: 0.8rem;
}

.btn-confirm:hover {
    background-color: white;
    border: solid 1px var(--secondary-color);
    color: var(--secondary-color);
}

.button-cancel {
    background-color: grey;
    border-radius: 0.8rem;
    color: white;
}

.button-cancel:hover {
    background-color: white;
    border: solid 1px grey;
    color: black;
}

/* Icons for edit and delete */
.button-edit,
.button-delete {
    padding: 0px;
    margin: 0px;
    border: none;
    background-color: white;
}

.button-edit {
    color: var(--primary-color);
}

.button-delete {
    color: rgb(220, 0, 0);
}

/* Edit Book Page */
.edit-preview>img {
    width: 60%;
}

/* Library page */
.book ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.book-text {
    font-size: 0.9rem;
}

.book img {
    width: 100%;
    aspect-ratio: 1 / 1.25;
}

#library-filter,
#library-sort {
    color: var(--primary-color);
}

/* Search, Filter and Sort fields */

#search-input {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: white;
    background-image: url("../images/icon-search.png");
    background-position: 3px center;
    background-repeat: no-repeat;
    padding: 2px 5px 2px 30px;
}

#form-sort select,
#form-filter select {
    border: 2px solid #ccc;
    border-radius: 4px;
}
