/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Roboto", sans-serif;
    --heading-font: "Lora", serif;
    --primary-color: #05668D;
    --secondary-color: #A5BE00;
    --alt-color: #EBF2FA;
}

body {
    font-family: var(--primary-font);
}


h1,
h2,
h3 {
    font-family: var(--heading-font);
}

.hide {
    visibility: hidden;
}

/* Nav and Footer */

nav,
footer {
    background-color: var(--primary-color);
}

nav {
    box-shadow: 0 3px 4px rgb(24, 24, 24);
}

.nav-item .nav-link {
    color: var(--alt-color);
}

.logo {
    height: 40px;
}

/* Alert messages */

.alert-success {
    background-color: rgba(14, 211, 14, 0.9);
}

.alert-danger {
    background-color: rgba(204, 11, 11, 0.9);
}

.alert-warning {
    background-color: rgba(207, 120, 6, 0.9);
}

#messages {
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 50vw;
    text-align: center;
}

/* Buttons */

.btn-confirm {
    background-color: var(--secondary-color);
    border-radius: 0.8rem;
}

.btn-confirm:hover {
    background-color: white;
    border: solid 1px var(--secondary-color);
    color: var(--secondary-color);
}

.button-cancel {
    background-color: grey;
    border-radius: 0.8rem;
    color: white;
}

.button-cancel:hover {
    background-color: white;
    border: solid 1px grey;
    color: black;
}

/* Icons for edit and delete */
.button-edit,
.button-delete {
    padding: 0px;
    margin: 0px;
    border: none;
    background-color: white;
}

.button-edit {
    color: var(--primary-color);
}

.button-delete {
    color: rgb(220, 0, 0);
}

/* Images */
.card>img {
    aspect-ratio: 1 / 1;
}

.edit-preview>img {
    width: 60%;
}

/* Card views on library page */
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.card {
    min-height: 376px;
}