/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Roboto", sans-serif;
    --heading-font: "Lora", serif;
    --primary-color: #05668D;
    --secondary-color: #A5BE00;
    --alt-color: #EBF2FA;
}

body {
    font-family: var(--primary-font);
}


h1,
h2,
h3 {
    font-family: var(--heading-font);
}

nav,
footer {
    background-color: var(--primary-color);
}

nav {
    box-shadow: 0 3px 4px rgb(24, 24, 24);
}

.nav-item .nav-link {
    color: var(--alt-color);
}

.logo {
    height: 40px;
}

.active {
    text-decoration: underline;
}

.alert-success {
    background-color: rgba(0, 240, 0, 0.35);
}

.alert-danger {
    background-color: rgba(240, 0, 0, 0.35);
}

.btn-confirm {
    background-color: var(--secondary-color);
    border-radius: 0.8rem;
}

.btn-confirm:hover {
    background-color: white;
    border: solid 1px var(--secondary-color);
    color: var(--secondary-color);
}

.card > img {
    aspect-ratio: 1 / 1;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.card {
    min-height: 354px;
}