{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container about">

    <h1 class="my-3 text-center col">Welcome to Book Lover's Market!</h1>

    <div class="col col-md-8 col-xl-6 mx-auto mt-4 mb-5 text-center">
        <h2>Our History</h2>
        <p>
            We started out with an idea, an idea that was formed through our collective need to look and display our own
            personal book library as individuals.
            We love to gaze upon our book collection in the convenience of our cosy home and deidicated book shelf.
            But what about when we are away from home? Well, that is where our community was born
        </p>

        <h2>Our Mission</h2>
        <p>
            We had a need to transfer this physicaly sense of satisfaction and fulfillment into the digital realm,
            so that we could view our books at any given moment from literally anywhere in the world.
            Once we have accomplished setting up this digital library, someone mentioned that it would be extremely
            convenient (and utterly beneficial)
            if we could also buy books on this platform and sell some of our less loved titles.
        </p>
        <p>
            Our mission, you might ask, is then to allow Book Lovers to digitalize their libraries as well as buy and
            sell books from fellow Book Lovers on our platform.
            We aim to spread the happiness brought to us by books and by books we shall prosper!
        </p>
    </div>

    <div class="col col-md-8 col-xl-6 mx-auto">
        <h3 class="text-center mb-3">We want to hear from you!</h3>
        <form method="POST">
            {{ feedback_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-confirm">Send Feedback</button>
        </form>
    </div>


</div>

{% endblock content %}