{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container home">

    <h1 class="my-3 text-center col">Welcome to Book Lover's Market!</h1>

    <div class="col col-md-10 col-lg-6 mx-auto">
        <img src="{{ home.image.url }}" alt="" id="home-hero">
    </div>

    <p class="col col-lg-8 mx-auto my-4 lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus eum repellendus ab illo incidunt doloribus
        magni assumenda ad dolorum accusantium labore iure nesciunt id et, eius voluptates voluptas quibusdam quam?</p>

    <div class="col col-lg-8 mx-auto my-4">
        <h3 class="text-center">Quote of the Month</h3>
        <p class="lead">{{ home.quote }}</p>
        <p class="text-end">- {{ home.author }}</p>
    </div>
</div>

{% endblock content %}