{% load static %}

{% url 'library' as library_url %}
{% url 'about' as about_url %}
{% url 'home' as home_url %}
{% url 'sales' as sales_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Book Lovers Market let's you buy and sell books online">
    <meta name="keywords" content="books, book market, reading, buy books, sell books, love books">
    <meta name="author" content="Gary Burke">
    <title>Book Lovers Market</title>

    <!-- Fav icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link rel="preload" href="{% static 'fonts/lora-normal.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% static 'fonts/roboto-normal.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">

    <!-- CSS Styles -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body class="d-flex flex-column min-vh-100">

    <nav class="navbar navbar-expand-lg fixed-top" data-bs-theme="dark" id="nav-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/logo-sm.webp' %}" alt="Book Lovers Market logo" class="logo" width="48"
                    height="32">
            </a>

            <!-- User Greeting -->
            <div class="d-flex flex-column flex-md-row align-items-md-center me-auto ms-0 ms-md-2">
                <span class="greeting">Welcome</span>
                <span class="greeting ms-md-1 ">
                    {% if user.is_authenticated %}
                    {{ user }}
                    {% else %}
                    Guest
                    {% endif %}
                </span>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == home_url %}active" aria-current="page{% endif %}"
                            href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == about_url %}active" aria-current="page{% endif %}"
                            href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == library_url %}active" aria-current="page{% endif %}"
                            href="{% url 'library' %}">Library</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == sales_url %}active" aria-current="page{% endif %}"
                            href="{% url 'sales' %}">Sales</a>
                    </li>

                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == logout_url %}active" aria-current="page{% endif %}"
                            href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == signup_url %}active" aria-current="page{% endif %}"
                            href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == login_url %}active" aria-current="page{% endif %}"
                            href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Alert Messages -->
    <div class="col-10 col-md-6 col-lg-5 mt-5" id="messages">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
            {{ message | safe }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>

    <!-- Main section -->
    <main class="section">
        {% block content %}
        {% endblock content %}
    </main>

    <!-- Footer Section -->
    <footer class="mt-auto pt-2">
        <div class="container ">
            <p class="m-0 text-center">Follow us:
                <a href="https://www.instagram.com" target="_blank"
                    aria-label="Visit our Instagram page (opens in a new tab)" rel="noopener"><i
                        class="fa-brands fa-square-instagram ms-3"></i></a>
                <a href="https://www.facebook.com" target="_blank"
                    aria-label="Visit our Facebook page (opens in a new tab)" rel="noopener"><i
                        class="fa-brands fa-square-facebook ms-3"></i></a>
                <a href="https://www.x.com" target="_blank" aria-label="Visit our X feed (opens in a new tab)"
                    rel="noopener"><i class="fa-brands fa-square-x-twitter ms-3"></i></a>
                <a href="https://www.youtube.com" target="_blank"
                    aria-label="Visit our Youtube channel (opens in a new tab)" rel="noopener"><i
                        class="fa-brands fa-square-youtube ms-3"></i></a>
            </p>
            <hr class="my-2">
            <p class="text-center">Developed by Gary Burke &copy; 2025</p>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous">
    </script>

    {% block extras %}
    {% endblock %}

</body>

</html>