@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/static/fonts/lora-normal.5d5a586a9741.woff2") format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/static/fonts/roboto-normal.b07da7aa3e4f.woff2") format('woff2');
}